
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}

.bluebox {
    border-style: solid;
    border-width: 5px;
    color: lightblue;
}

.floatingbotton {
    position: absolute;
    align-content: center;
    height: 40px;
    width: 40px;
    z-index: 2;
    right: 20px;
    bottom: 20px;
    background: lightblue;
    color: black;
    border-radius: 100%;
    font-size: 34px;
    font-align: center;
    text-decoration: none;
    line-height: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);


}
